In [52]:
d = dict(name="John", age=57, sex="M", height="190cm", weight="88kg")
d

{'name': 'John', 'age': 57, 'sex': 'M', 'height': '190cm', 'weight': '88kg'}

In [45]:
def person(**kwargs):
    for key, value in kwargs.items():
        print(key, '=>', value)

person(**d)

name => John
age => 57
sex => M
height => 190cm
weight => 88kg

In [48]:
def person1(**kwargs):
    name = kwargs["name"]
    age = kwargs.get("age")
    sex = kwargs["sex"]
    height = kwargs["height"]
    weight = kwargs["weight"]
    print(name,age, sex, height, weight)

person1(**d)

John 57 M 190cm 88kg

In [51]:
t = (("name", "John"), ("age", "57"), ("sex", "M"))
a,b = zip(*t)
a,b

(('name', 'age', 'sex'), ('John', '57', 'M'))