## Conditional selection

In [2]:
import pandas as pd
from pathlib import Path

In [174]:
df = pd.DataFrame({'nik':[1,0,0,1,1],'alex':[1,1,0,0,1]})
df

   nik  alex
0    1     1
1    0     1
2    0     0
3    1     0
4    1     1

In [185]:
df[['nik', 'alex']].eq([1,1])

     nik   alex
0   True   True
1  False   True
2  False  False
3   True  False
4   True   True

In [187]:
df[['nik','alex']].eq([1,1]).all(1)

0     True
1    False
2    False
3    False
4     True
dtype: bool

In [189]:
df2 = df.loc[df[['nik','alex']].eq([1,1]).all(1)]
df2

   nik  alex
0    1     1
4    1     1

In [191]:
df2.loc[df2.index[1], 'nik']

1

In [3]:
data_path = Path.home()/'programming/data/watch_bot'
csv_path = Path.home()/'programming/projects/watch_bot/data_prep/file_attribs.csv'

In [7]:
df = pd.read_csv(csv_path)
df.head()

,image_size_x,image_size_y,name,dial_visibility,like,image_quality
0,960,960,nomos_1/nomos/_without_model/nomos_@_the_loupe...,1.0,1.0,1.0
1,960,960,nomos_1/nomos/_without_model/nomos_@_the_loupe...,1.0,0.0,1.0
2,960,960,nomos_1/nomos/_without_model/nomos_@_the_loupe...,0.0,0.0,0.0
3,720,960,nomos_1/nomos/_without_model/nomos_beta_11156_...,1.0,0.0,1.0
4,720,960,nomos_1/nomos/_without_model/nomos_beta_11156_...,1.0,0.0,1.0

In [12]:
df = df[['dial_visibility', 'like', 'image_quality']]
df = df.head()
df

   dial_visibility  like  image_quality
0              1.0   1.0            1.0
1              1.0   0.0            1.0
2              0.0   0.0            0.0
3              1.0   0.0            1.0
4              1.0   0.0            1.0

In [14]:
ser = df.idxmin(axis=0)
ser

dial_visibility    2
like               1
image_quality      2
dtype: int64

In [16]:
resume_label = ser.idxmin()
resume_label

'like'

In [18]:
resume_idx = ser[resume_label]
resume_idx

1

In [19]:
df.loc[resume_idx, resume_label]

0.0