## Conditional selection

In [2]:
import pandas as pd

In [174]:
df = pd.DataFrame({'nik':[1,0,0,1,1],'alex':[1,1,0,0,1]})
df

   nik  alex
0    1     1
1    0     1
2    0     0
3    1     0
4    1     1

In [185]:
df[['nik', 'alex']].eq([1,1])

     nik   alex
0   True   True
1  False   True
2  False  False
3   True  False
4   True   True

In [187]:
df[['nik','alex']].eq([1,1]).all(1)

0     True
1    False
2    False
3    False
4     True
dtype: bool

In [189]:
df2 = df.loc[df[['nik','alex']].eq([1,1]).all(1)]
df2

   nik  alex
0    1     1
4    1     1

In [191]:
df2.loc[df2.index[1], 'nik']

1