In [4]:
from pathlib import Path
import pandas as pd

In [21]:
data_path = Path.home()/'programming/data/chrono24'
fa_chrono24_csv_path = data_path/'file_attribs_chrono24.csv'
fa_chrono24_add_inference_csv_path = data_path/'file_attribs_chrono24_add_inference.csv'
dv_inference_csv_path = data_path/'dial_visibility_inference.csv'

In [10]:
df_fa_chrono24 = pd.read_csv(fa_chrono24_csv_path)
df_fa_chrono24.head()

,image_size_x,image_size_y,name
0,800,708,a._lange_&_soehne_1/a._lange_&_soehne/1815/a._...
1,800,731,a._lange_&_soehne_1/a._lange_&_soehne/1815/a._...
2,800,729,a._lange_&_soehne_1/a._lange_&_soehne/1815/a._...
3,800,685,a._lange_&_soehne_1/a._lange_&_soehne/1815/a._...
4,800,708,a._lange_&_soehne_1/a._lange_&_soehne/1815/a._...

In [11]:
df_dv_inference = pd.read_csv(dv_inference_csv_path)
df_dv_inference.head()

,name,dial_visibility,dial_visibility_p_0,dial_visibility_p_1,like,like_p_0,like_p_1
0,a._lange_&_soehne_1/a._lange_&_soehne/1815/a._...,1,0.000024,0.999977,-1,-1,-1
1,a._lange_&_soehne_1/a._lange_&_soehne/1815/a._...,1,0.002802,0.997198,-1,-1,-1
2,a._lange_&_soehne_1/a._lange_&_soehne/1815/a._...,1,0.000682,0.999318,-1,-1,-1
3,a._lange_&_soehne_1/a._lange_&_soehne/1815/a._...,1,0.067628,0.932372,-1,-1,-1
4,a._lange_&_soehne_1/a._lange_&_soehne/1815/a._...,1,0.000840,0.999160,-1,-1,-1

In [14]:
df = pd.merge(df_fa_chrono24, df_dv_inference, how='inner', on='name')
df.head()

,image_size_x,image_size_y,name,dial_visibility,dial_visibility_p_0,dial_visibility_p_1,like,like_p_0,like_p_1
0,800,708,a._lange_&_soehne_1/a._lange_&_soehne/1815/a._...,1,0.000024,0.999977,-1,-1,-1
1,800,731,a._lange_&_soehne_1/a._lange_&_soehne/1815/a._...,1,0.002802,0.997198,-1,-1,-1
2,800,729,a._lange_&_soehne_1/a._lange_&_soehne/1815/a._...,1,0.000682,0.999318,-1,-1,-1
3,800,685,a._lange_&_soehne_1/a._lange_&_soehne/1815/a._...,1,0.067628,0.932372,-1,-1,-1
4,800,708,a._lange_&_soehne_1/a._lange_&_soehne/1815/a._...,1,0.000840,0.999160,-1,-1,-1

In [22]:
df.to_csv(fa_chrono24_merged_csv_path, index=False)